@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    font-family: 'Caveat', cursive;
    height: 100%;
}
   /* Additional styles for the modal */
.modal {
    display: block;
}

.modal-overlay {
    z-index: 50;
}

.modal-container {
    z-index: 51;
}

