@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Caveat', cursive;
}
   /* Additional styles for the modal */
.modal {
    display: block;
}

.modal-overlay {
    z-index: 50;
}

.modal-container {
    z-index: 51;
}